.tracking-details {
  max-width: 1000px; /* Adjust the width as needed */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading-main {
  text-align: center;
  margin-bottom: 20px;
}

.heading-main h2 {
  font-size: 24px;
}

/* Style the Chrono component */
.rct-vertical-timeline {
  margin: 0;
  padding: 0;
}

.rct-item {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 20px; /* Adjust the card height */
}

.rct-item-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.rct-card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rct-card-subtitle {
  font-style: italic;
  margin-bottom: 5px;
}

.rct-card-detail {
  color: #555;
}
